{% extends "index.html" %}

{% block title %}Contas Contábeis{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Contas Contábeis</h1>
    <div class="box">
        <h2 class="subtitle">Adicionar Nova Conta</h2>
        <form id="conta-form">
            <div class="field">
                <label class="label" for="nome">Nome</label>
                <div class="control">
                    <input class="input" type="text" id="nome" name="nome" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="descricao">Descrição</label>
                <div class="control">
                    <input class="input" type="text" id="descricao" name="descricao" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="button" class="button is-primary" onclick="adicionarConta()">Adicionar Conta</button>
                </div>
            </div>
        </form>
    </div>
    <h2 class="subtitle mt-4">Contas Existentes</h2>
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody id="contas-list">
            <!-- Contas serão listadas aqui com JavaScript -->
        </tbody>
    </table>
</div>

<script>
    function carregarContas() {
        fetch('/contas-contabeis/')
            .then(response => response.json())
            .then(data => {
                const contasList = document.getElementById("contas-list");
                contasList.innerHTML = ''; // Limpa a lista antes de atualizar
                data.forEach(conta => {
                    const row = contasList.insertRow();
                    row.insertCell(0).textContent = conta[0];
                    row.insertCell(1).textContent = conta[1];
                    row.insertCell(2).textContent = conta[2];
                });
            });
    }

    function adicionarConta() {
        const nome = document.getElementById("nome").value;
        const descricao = document.getElementById("descricao").value;

        fetch('/contas-contabeis/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ nome: nome, descricao: descricao })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            carregarContas(); // Atualiza a lista de contas
        })
        .catch(error => console.error('Erro:', error));
    }

    document.addEventListener('DOMContentLoaded', carregarContas);
</script>
{% endblock %}
